include ../mixins/sub-menu.pug
header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")

                        img(src=settingGeneral.logo alt="Logo" width="200px")
            .col-5 
                form(
                    action="/search"
                    method="GET"
                )
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder ="Enter keyword"
                            class="form-control"
                            name="keyword"
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        )   Search 

                        
            .col-4
                .inner-menu
                    ul
                        li
                            a(href="/") Home Page
                        li(class="sub-menu")
                            -const pathProduct = "/products"
                            a(href=pathProduct) Products

                            +sub-menu(layoutProductsCategory,pathProduct)

                        li
                            a(href=`/cart`) Cart (#{miniCart ? miniCart.totalQuantity : 0})
                        li
                            a(class="btn btn-outline-secondary" href= `/users/friends`) Friends

                        if(user)
                            li
                                a(class="btn btn-outline-info" href= `/user/info`) #{user.fullName}
                            li
                                a(class="btn btn-outline-secondary" href= `/user/logout`) Log out
                        else
                            li 
                                a(class="btn btn-outline-success" href= `/user/login`) Sign in
                            li 
                                a(class="btn btn-outline-danger" href= `/user/register`) Sign up
