.row 
    .col-12 
        a(
            class="btn btn-primary m-1"
            href="/users/not-friend"
        ) Users List 
        a(
            class="btn btn-primary m-1"
            href="/users/friends"
        ) Friends List 
        a(
            class="btn btn-primary m-1"
            href="/users/request"
        ) Request List
        a(
            class="btn btn-primary m-1"
            href="/users/accept"
        ) Accept List 