extends ../../layouts/default.pug

block main  
    h1 #{pageTitle}

    .row.mt-4 
        .col-12 
            .card.mb-4 
                .card-header User Information 
                .card-body 
                    if(user.avatar)
                        img(
                            src=user.avatar 
                            style="height: 100px;margin-bottom: 15px;"
                        )
                    if(user.fullName)
                        p Full Name: <b>#{user.fullName}</b>
                    if(user.email)
                        p Email: <b>#{user.email}</b>
                    if(user.phone)
                        p Phone: <b>#{user.phone}</b>
                    if(role.title)
                        p Role: <b>#{role.title}</b>
        .col-6 
            .card.mb-4 
                .card-header Categogy 
                .card-body 
                    p Total <b>#{statistic.categoryProduct.total}</b>
                    p Active <b>#{statistic.categoryProduct.active}</b>
                    p Inactive <b>#{statistic.categoryProduct.inactive}</b>
        
        .col-6 
            .card.mb-4 
                .card-header Product 
                .card-body 
                    p Total <b>#{statistic.product.total}</b>
                    p Active <b>#{statistic.product.active}</b>
                    p Inactive <b>#{statistic.product.inactive}</b>

        .col-6 
            .card.mb-4 
                .card-header Account in admin
                .card-body 
                    p Total <b>#{statistic.account.total}</b>
                    p Active <b>#{statistic.account.active}</b>
                    p Inactive <b>#{statistic.account.inactive}</b>

        .col-6 
            .card.mb-4 
                .card-header User in client
                .card-body 
                    p Total <b>#{statistic.user.total}</b>
                    p Active <b>#{statistic.user.active}</b>
                    p Inactive <b>#{statistic.user.inactive}</b>