.sider
    .inner-menu
        ul
            li
                a(href=`${prefixAdmin}/dashboard`) Tổng quan
            if(role.permissions.includes("products-category_view"))
                li
                    a(href=`${prefixAdmin}/products-category`) Products Category
            if(role.permissions.includes("products_view"))
                li 
                    a(href=`${prefixAdmin}/products`) Products
            if(role.permissions.includes("roles_view"))
                li 
                    a(href=`${prefixAdmin}/roles`) Roles
            if(role.permissions.includes("roles_permissions"))
                li 
                    a(href=`${prefixAdmin}/roles/permissions`) Permissions
            if(role.permissions.includes("accounts_view"))
                li 
                    a(href=`${prefixAdmin}/accounts`) Accounts
            li 
                a(href=`${prefixAdmin}/settings/general`) Setting General

